.container {
	max-width: 1440px;
	margin: 0 auto;
}

.text {
	color: inherit;
}

.btn {
	--gap: 7px;
	position: relative;
	display: block;
	width: max-content;
	padding: 20px 40px;
	font-family: var(--fontFamilyMajor);
	font-weight: 600;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;

	&:before {
		content: '';
		position: absolute;
		z-index: 2;
		background-color: var(--colorWhite);
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		transition: translate 300ms;
	}

	&:after {
		content: '';
		position: absolute;
		background-color: var(--colorRed);
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		translate: var(--gap) var(--gap);
	}

	&:hover {
		&:before {
			translate: var(--gap) var(--gap);
		}

		span {
			translate: var(--gap) var(--gap);
		}
	}

	span {
		display: block;
		position: relative;
		z-index: 3;
		transition: translate 300ms;
	}
}

#header__burger {
	&:checked+.nav {
		translate: 0% 0%;
	}

	&:checked~.burger {
		translate: 100% 0;
	}
}

.burger {
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5vw;
	height: 100vh;
	padding: 5px;
	background-color: rgba(var(--colorWhiteRGB), 0.8);
	clip-path: polygon(35.25% 4.5%, 13% 0px, 100% 0px, 100% 100%, 9% 100%, 15.38% 85.31%, 28.1% 83.32%, 12.79% 48.1%, 38.74% 20.70%, 14.25% 21.19%);
	font-family: var(--fontFamilyKanit);
	font-size: 3rem;
	font-weight: 500;
	color: var(--colorBlack);
	text-transform: uppercase;
	writing-mode: sideways-lr;
	letter-spacing: 2vh;
	transition: translate 500ms;
	cursor: pointer;
}

.nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10%;
	width: 30vw;
	height: 100%;
	background-color: rgba(var(--colorWhiteRGB), 0.2);
	translate: 100% 0;
	backdrop-filter: blur(3px);
	clip-path: polygon(3.48% 9.88%, 13% 0px, 100% 0px, 100% 100%, 0.35% 99.95%, 10.84% 90.25%, 0.54% 60.77%, 5.57% 38.35%);
	transition: translate 500ms;
}

.nav__item {
	width: 80%;

	&:nth-child(1) {

		&::before {
			clip-path: polygon(15% 0, 23% 25%, 78% 0, 100% 100%, 65% 82%, 0 96%);
		}

		&:after {
			clip-path: polygon(15% 0, 23% 25%, 78% 0, 100% 100%, 65% 82%, 0 96%);
		}
	}

	&:nth-child(2) {

		&::before {
			clip-path: polygon(9% 8%, 56% 25%, 92% 26%, 100% 100%, 12% 89%, 0 66%);
		}

		&:after {
			clip-path: polygon(9% 8%, 56% 25%, 92% 26%, 100% 100%, 12% 89%, 0 66%);
		}
	}

	&:nth-child(3) {

		&::before {
			clip-path: polygon(50% 29%, 89% 13%, 90% 55%, 100% 87%, 0 100%, 8% 21%);
		}

		&:after {
			clip-path: polygon(50% 29%, 89% 13%, 90% 55%, 100% 87%, 0 100%, 8% 21%);
		}
	}

	&:nth-child(4) {

		&::before {
			clip-path: polygon(26% 27%, 95% 15%, 98% 31%, 84% 96%, 3% 91%, 13% 61%, 9% 15%);
		}

		&:after {
			clip-path: polygon(26% 27%, 95% 15%, 98% 31%, 84% 96%, 3% 91%, 13% 61%, 9% 15%);
		}
	}
}

.background {
	position: absolute;
	width: 100%;
	height: 100%;
}

.list {
	display: flex;
	flex-direction: column;
	font-family: var(--fontFamilyMajor);

	&__item {
		letter-spacing: 0.05rem;
	}
}

.list__title {
	font-family: MaliBlack;
	font-size: 0.8125rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	line-height: 24px;
}

.logo {
	width: 500px;
	aspect-ratio: 3/1;
	background-color: var(--colorWhite);
	clip-path: polygon(0.4% 2px, 18.8% 17.2%, 99.6% 6px, 90.2% 100%, 73.60% 92.41%, 62px 98.4%);
	position: relative;
	user-select: none;

	&__text {
		position: absolute;
		top: 50%;
		left: 13%;
		font-family: var(--fontFamilyKanit);
		font-size: 6rem;
		color: var(--colorBlack);
		translate: 0px -50%;
	}

	&__accent {
		position: absolute;
		top: 50%;
		right: 10%;
		padding: 2% 5%;
		padding-right: 7%;
		display: flex;
		translate: 0px -50%;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			clip-path: polygon(8.094% 6.481%, 60.574% 0.463%, 100% 6.481%, 77.546% 100%, 14.621% 95.37%, 0% 80.556%, 8.094% 6.481%);
			background-color: var(--colorRed);
			translate: 5px 5px;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			clip-path: polygon(8.094% 6.481%, 60.574% 0.463%, 100% 6.481%, 77.546% 100%, 14.621% 95.37%, 0% 80.556%, 8.094% 6.481%);
			background-color: var(--colorBlack);
		}
	}

	&__text_accent {
		position: relative;
		z-index: 2;
		font-family: var(--fontFamilyKanit);
		font-size: 6rem;
		line-height: 6rem;
		color: var(--colorWhite);
		text-shadow: 4px 4px var(--colorRed);
	}
}