@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=M+PLUS+Code+Latin:wght@100;200;300;400;500;600;700&display=swap');


:root {
	--colorVioletBlueDark: #290a59;
	--colorVioletBlueDarkRGB: 41, 10, 89;

	--colorGreenLight: #00e558;
	--colorGreenLightRGB: 0, 229, 88;

	--colorWhiteDark: #e9ecef;

	--colorRed: #D24444;
	--colorRedRGB: 210, 68, 68;

	--colorWhite: #E2E2E2;
	--colorWhiteRGB: 226, 226, 226;
	--colorBlack: #181818;

	--fontFamilyLatin: 'M PLUS Code Latin',
		sans-serif;
	--fontFamilyKanit: 'Kanit', sans-serif;

}