<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/css/style-min.css">
	<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
	<title>MusoCi</title>
</head>

<body>
	<header class="header">
		<input type="checkbox" id="header__burger">
		<nav class="nav">
			<a href="#portfolio" class="nav__item btn"><span>portfolio</span></a>
			<a href="#about" class="nav__item btn"><span>portfolio</span></a>
			<a href="#team" class="nav__item btn"><span>portfolio</span></a>
			<a href="#contacts" class="nav__item btn"><span>portfolio</span></a>
		</nav>
		<button class="burger">
			Menu
		</button>
	</header>